<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

 <applicationSettings>
  <GameHelper.Properties.Settings>
   <setting name="Sims3ModFolder" serializeAs="String">
    <value>Downloads</value>
   </setting>
   <setting name="Sims4ModFolder" serializeAs="String">
    <value>Mods</value>
   </setting>
   <setting name="Sims3BaseFolder" serializeAs="String">
    <value>%DOCUMENTS%\Electronic Arts\Die Sims 3</value>
   </setting>
   <setting name="Sims4BaseFolder" serializeAs="String">
    <value>%DOCUMENTS%\Electronic Arts\Die Sims 4</value>
   </setting>
   <setting name="DownloadFolder" serializeAs="String">
    <value>%DOWNLOADS%</value>
   </setting>
  </GameHelper.Properties.Settings>
 </applicationSettings>
</configuration>